<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' type='text/css' th:href='@{/css/main.css}'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
    <title>Event Calendar</title>
</head>

<body>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Logout</button>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <form class="form-custom" th:action="@{${eventFormUrl}}" method="POST">
                    
                    <h3 style="text-align: center;" ><i class="fa fa-calendar" aria-hidden="true"></i> <span th:text="${eventForm}"></span></h3>
                    <input type="hidden" id="event_id" th:value="${eventEdit?.id}" name="event_id" class="form-control" required/>
                    <br/>
                    <label for="event_title">Title:</label>
                    <input type="text" id="event_title" th:value="${eventEdit?.title}" name="event_title" placeholder="Event Title" class="form-control" required/>
                    <br />
                    <label for="event_description">Description:</label>
                    <textarea class="form-control" name="event_description" th:text="${eventEdit?.description}" id="event_description" placeholder="Event Description"rows="3"></textarea>
                    <br />
                        <label for="dateBegin">Begins:</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" th:value="${eventEditBegin}" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                   name="dateBegin" id="dateBegin" placeholder="Begin Date" required/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    <br />
                    <label for="dateEnd">Ends:</label>
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                            <input type="text" th:value="${eventEditEnd}" class="form-control datetimepicker-input" data-target="#datetimepicker2"
                                   name="dateEnd" id="dateEnd" placeholder="End Date" required/>
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    <br/>
                    <a th:if="${eventEdit != null}" style="color: red;" class="btn btn-lg btn-primary btn-block" th:href="@{/user/home}"> Cancel Edit</a>
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="createEvent" type="Submit"
                        th:text=${eventFormSubmit}></button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="card card-custom" th:each="event: ${allEvents}">
                    <div class="card-header">
                        <h4 class="card-title" style="display: inline;"><i class="fas fa-calendar-check"></i> <span th:text="${event.title}"></span></h4>
                        <div class="btn-group float-right">
                            <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" th:href="@{/user/editEvent?id={id}(id=${event.id})}"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <a class="dropdown-item" th:href="@{/user/deleteEvent?id={id}(id=${event.id})}"><i class="fa fa-trash-alt"></i> Delete</a>
                            </div>
                       </div>
                   </div>                          
                    <div class="card-body">
                        <p class="card-text" th:text="${event.description}" required></p>
                    </div>
                    
                    <div class="card-footer" style="display:ruby;">
                        <div class="card-text">Begins at:
                            <i class="fa fa-clock" style="color: green;"></i>
                        <div class="card-text" style="display:inline;" th:text="${#temporals.format(event.beginDate, 'dd/MM/yyyy HH:mm')}">
                        </div>
                        </div>
                        
                        <div class="card-text float-right">Ends at:
                            <i class="fa fa-clock" style="color: red;"></i>
                            <div class="card-text" style="display:inline;" th:text="${#temporals.format(event.endDate, 'dd/MM/yyyy HH:mm')}">
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
    
    <script>
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            } });
    
        $('#datetimepicker1').datetimepicker({format: 'DD/MM/YYYY HH:mm'});
        $('#datetimepicker2').datetimepicker({format: 'DD/MM/YYYY HH:mm'});
        $('#datetimepicker1').on("change.datetimepicker", function(e) {
            $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false
        });
        $('#datetimepicker2').on("change.datetimepicker", function(e) {
            $('#datetimepicker1').datetimepicker('maxDate', e.date);
        });
        
    </script>   
</body>

</html>